<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div align="center">

<table style="width: 575px;" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<table style="width: 100%;" align="center" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td align="left">
							<img alt="Logo" src="https://www.imembersdb.com/Images/imembersdb.png" border="0" height="100" />
						</td>
						<td align="right" valign="top">
							<div><span class="Company">MEMEBERSHIP APPLICATION CONFIRMATION</span></div>
							<div>
								<span class="Company">
								<strong>{%ClubName%}</strong><br />
								{%ClubAddress%}<br />
								{%ClubCity%}, {%ClubStateCode%} &nbsp; {%ClubPostalZip%}<br />
								Phone: {%ClubPhoneNumber%}<br />
								Email:{%ClubEMail%}<br />
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<br />
			<table style="width: 100%;" align="center" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td align="left" valign="top">
							<div align="left">Dear {%FirstName%},</div>
							<div align="left">&nbsp;</div>
							<div align="left">Thank you for applying for membership with <span class="Company"><strong>{%ClubName%}.&nbsp; </strong>We appreciate your interest in our club.<br /> </span></div>
							<div align="left">&nbsp;</div>
							<div align="left">Your application has been submitted to the club officers for review. They will be in contract with you shortly.</div>
							<div align="left"><br /> If you have any questions or need assistance regarding your membership, please feel to contact our office.</div>
							<div align="left">&nbsp;</div>
							<div align="left">Regards,</div>
							<div align="left">{%ClubName%}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>

</div>
</body>
</html>