@media print {
  /* Hide everything except the specific containers and their parents */
  body * {
    visibility: hidden;
  }



  body > :not(#mmp-custom-form)),
  body:has(.print-content) * {
    visibility: hidden;
  }

  /* Also show all ancestors of #mmp-custom-form and .print-content */
  #mmp-custom-form,
  #mmp-custom-form * {
    display: block !important;
  }

  .print-content,
  .print-content * {
    display: block !important;
  }

  /* Hide elements marked to be hidden in print */
  .print-hide {
    display: none !important;
  }

  /* Placeholder text should not be printed */
  input::placeholder,
  textarea::placeholder {
    color: transparent;
  }

  /* Basic styling adjustments for the printed form */
  #mmp-custom-form,
  .print-content {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  /* Form layout adjustments */
  #mmp-custom-form .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  #mmp-custom-form .form-group {
    padding: 0 5px;
    box-sizing: border-box;
    flex: 1 0 auto;
  }

  #mmp-custom-form .one-column .form-group {
    flex: 1 0 100%;
  }

  #mmp-custom-form .two-column .form-group {
    flex: 1 0 50%;
  }

  #mmp-custom-form .three-column .form-group {
    flex: 1 0 33.33%;
  }

  #mmp-custom-form .four-column .form-group {
    flex: 1 0 25%;
  }

  #mmp-custom-form .entry {
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
    width: 100%;
  }

  #mmp-custom-form textarea.entry {
    border: 2px solid #000 !important;
    height: 7rem;
    margin-bottom: 1rem;
  }

  #mmp-custom-form .entry[required] {
    border-left: none !important;
  }

  #mmp-custom-form textarea.entry[required] {
    border-left: 2px solid #000 !important;
  }

  #mmp-custom-form input[type="checkbox"],
  #mmp-custom-form input[type="radio"] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border: 2px solid #000;
  }

  #mmp-custom-form input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  #mmp-custom-form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0%;
  }

  #mmp-custom-form input[type="checkbox"]:checked::before,
  #mmp-custom-form input[type="radio"]:checked::before {
    content: '✔';
    display: block;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    color: #000;
  }

  #mmp-custom-form .consent-affirmation,
  #Send {
    display: none;
  }

  .page-break {
    page-break-before: always;
  }

  .page-break-after {
    page-break-after: always;
  }

  #mmp-custom-form .form-row,
  #mmp-custom-form .form-group,
  .page-break-inside {
    page-break-inside: avoid;
  }

  @page {
    size: auto;
    margin: 1in;
  }
}
